[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/

*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
sysinfo.txt
*.apk
*.unitypackage
Completed Projects/SuperShooter/.idea/.idea.SuperShooter/riderModule.iml
Completed Projects/SuperShooter/.idea/.idea.SuperShooter/.idea/workspace.xml
Completed Projects/SuperShooter/.idea/.idea.SuperShooter/.idea/projectSettingsUpdater.xml
Completed Projects/SuperShooter/.idea/.idea.SuperShooter/.idea/modules.xml
Completed Projects/SuperShooter/.idea/.idea.SuperShooter/.idea/indexLayout.xml
Completed Projects/SuperShooter/.idea/.idea.SuperShooter/.idea/contentModel.xml
